/assets/*
/protected/runtime/*
.settings
.project
*sublime*
/protected/config/*
/themes/*
!/themes/default
!/protected/modules/admin
!/protected/modules/hybridauth
.htaccess
/uploads/*
/install.php
*.*~
*.swp